html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: wheat;
}

body {
    background-color: #193c6d;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#003073', endColorstr='#029797');
    background-image: url(//img.alicdn.com/tps/TB1d.u8MXXXXXXuXFXXXXXXXXXX-1900-790.jpg);
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, #003073), color-stop(100%, #029797));
    background-image: -webkit-linear-gradient(135deg, #003073, #029797);
    background-image: -moz-linear-gradient(45deg, #003073, #029797);
    background-image: -ms-linear-gradient(45deg, #003073 0, #029797 100%);
    background-image: -o-linear-gradient(45deg, #003073, #029797);
    background-image: linear-gradient(135deg, #003073, #029797);
    text-align: center;
    margin: 0px;
    overflow: hidden;
}

#main {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin: 0;
    
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#settings {
    background-color:navy;
    color: #FFF;
    width: 100%;
}

#settings-heading {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#settings-heading .session {
    margin-right: 30px;
}

#settings-input {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
}

#settings-input div {
    font-size: 1.5em;
}

#start-stop-reset-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
}

#pause-stop-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
}

#timer {
    text-align: center;
}

#session-minute {
    text-align: center;
    width: 60px;
}

#break-minute {
    text-align: center;
    width: 60px;
}

.button {
    cursor: pointer;
}

#clock {
    margin-top: 15px;
    background-color: #000;
    color: #FFF;
    width: 100%;
    padding: 5px 0;
}

#start {
    margin-left: -35px;
}

#reset {
    margin-right: -45px;
}

#pause {
    margin-left: -35px;
}

#stop {
    margin-right: -45px;
}

#timer div {
    margin-bottom: 5px;
}

.session {
    margin: 0;
}

#time {
    margin: 0;
    font-size: 5em;
}